<app-video-list
  [videos]="(videos | async) ?? []"
  [selectedVideo]="selectedVideo"
  (onVideoSelected)="setSelectedVideo($event)"
></app-video-list>
<app-video-player [video]="selectedVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
